In [29]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [43]:
url = "https://psl-t20.com/"

In [44]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120.0 Safari/537.36"
}

web = requests.get(url, headers=headers)
print(response.status_code)

200

In [46]:
soup = BeautifulSoup(web.content, "html.parser")

In [52]:
table = soup.find("table")

In [53]:
table

<table cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td width="30%"><strong>Teams</strong></td>
<td align="right" width="6%"><strong>Mat</strong></td>
<td align="right" width="6%"><strong>Won</strong></td>
<td align="right" width="6%"><strong>Lost</strong></td>
<td align="right" width="6%"><strong>Tied</strong></td>
<td align="right" nowrap="nowrap" width="6%"><strong>No Result</strong></td>
<td align="right" width="6%"><strong>Aban</strong></td>
<td align="right" nowrap="nowrap" width="6%"><strong>Bonus Pts</strong></td>
<td align="right" width="6%"><strong>Points</strong></td>
<td align="right" nowrap="nowrap" width="6%"><strong>Net RR</strong></td>
</tr>
<tr>
<td>Quetta Gladiators</td>
<td align="right">10</td>
<td align="right">7</td>
<td align="right">2</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">15</td>
<td align="right">1.393</td>
</tr>
<tr>
<td>Islamabad United</td>
<td align="right">10</td>
<td align="right">6</td>
<td align="right">4</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">12</td>
<td align="right">0.372</td>
</tr>
<tr>
<td>Karachi Kings</td>
<td align="right">10</td>
<td align="right">6</td>
<td align="right">4</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">12</td>
<td align="right">0.049</td>
</tr>
<tr>
<td>Lahore Qalandars</td>
<td align="right">10</td>
<td align="right">5</td>
<td align="right">4</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">11</td>
<td align="right">1.036</td>
</tr>
<tr>
<td>Peshawar Zalmi</td>
<td align="right">10</td>
<td align="right">4</td>
<td align="right">6</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">8</td>
<td align="right">-0.293</td>
</tr>
<tr>
<td>Multan Sultans</td>
<td align="right">10</td>
<td align="right">1</td>
<td align="right">9</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">2</td>
<td align="right">-2.449</td>
</tr>
</tbody>
</table>

In [84]:
rows = table.find_all("tr")[1:]

In [85]:
all_rows = []

for i in rows:
    data = i.find_all("td")
    row = [td.text.strip() for td in data]
    all_rows.append(row)

In [87]:
rows

[<tr>
 <td>Quetta Gladiators</td>
 <td align="right">10</td>
 <td align="right">7</td>
 <td align="right">2</td>
 <td align="right">0</td>
 <td align="right">1</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">15</td>
 <td align="right">1.393</td>
 </tr>,
 <tr>
 <td>Islamabad United</td>
 <td align="right">10</td>
 <td align="right">6</td>
 <td align="right">4</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">12</td>
 <td align="right">0.372</td>
 </tr>,
 <tr>
 <td>Karachi Kings</td>
 <td align="right">10</td>
 <td align="right">6</td>
 <td align="right">4</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">12</td>
 <td align="right">0.049</td>
 </tr>,
 <tr>
 <td>Lahore Qalandars</td>
 <td align="right">10</td>
 <td align="right">5</td>
 <td align="right">4</td>
 <td align="right">0</td>
 <td align="right">1</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">11</td>
 <td align="right">1.036</td>
 </tr>,
 <tr>
 <td>Peshawar Zalmi</td>
 <td align="right">10</td>
 <td align="right">4</td>
 <td align="right">6</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">8</td>
 <td align="right">-0.293</td>
 </tr>,
 <tr>
 <td>Multan Sultans</td>
 <td align="right">10</td>
 <td align="right">1</td>
 <td align="right">9</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">0</td>
 <td align="right">2</td>
 <td align="right">-2.449</td>
 </tr>]

In [88]:
df = pd.DataFrame(all_rows, columns = ["Teams", "Mat", "Won", "Lost", "Tied", "No Result", "Aban", "Bonus Pts", "Points", "Net RR"])

In [89]:
df

               Teams Mat Won Lost Tied No Result Aban Bonus Pts Points  Net RR
0  Quetta Gladiators  10   7    2    0         1    0         0     15   1.393
1   Islamabad United  10   6    4    0         0    0         0     12   0.372
2      Karachi Kings  10   6    4    0         0    0         0     12   0.049
3   Lahore Qalandars  10   5    4    0         1    0         0     11   1.036
4     Peshawar Zalmi  10   4    6    0         0    0         0      8  -0.293
5     Multan Sultans  10   1    9    0         0    0         0      2  -2.449

In [91]:
df.to_csv("PSL X Points Table.csv", index=False)